.navbar{	
justify-content: center;
padding-bottom: 0px;
background: #50A555;
}

nav{

}


nav a{
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

.products{
	/*padding-left: 215px;*/

	/*margin-left: 300px;*/

	align-content: center;
}

.footer .copyright{
	font-size: large;
	float: left;
}

.footer .terms{
	font-size: large;
	float: right;
}