.navbar{	
justify-content: center;
padding-bottom: 0px;
padding-top: 16px;
background: #50A555;

}

nav{
padding-left: 16px;
padding-top: 16px;
padding-right: 16px;
margin: auto;

}


nav a{
	padding-left: 50px;
	padding-right: 50px;

	color: white;
	font-size: larger;
}

.products .row div{
	padding: 100px;
    
}

h4{
	text-align: center;
}

p{
	text-align: center;
}